<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="" method="post">
            {% csrf_token %}

            <button>envoyer</button>
        </form>
        {% for message in messages %}
        <div class="messages">
            {{message}}
        </div>
        {% endfor %}

        {% for article in new_articles %}
        <div style="width: 500px; height: 500px;">
            <img src="{{ article.image }}" alt="" style="width:100%; object-fit: cover;object-position: center;">
        </div>
        <div style="width: 200px;">
                {{article.content}}
        </div>
        {% endfor %}
    </div>
</body>
</html>
